---
---

@import "{{ site.theme }}";

// Don't show title multiple times
#content h1 {
	display: none;
}

// Revert this style so cards don't change appearance
#content .card > :first-child {
	margin-top: 2rem;
}

// Hide cards not matching the search term
.is-hidden {
	display: none;
}

// Style search container
#search-container {
	margin-top: 2rem;
}
#search-container input {
	color: #606c71;
	padding: 0.5rem 0.75rem;
}

// Highlight card on hover

.card.entry-card {
	transition-duration: 0.25s;
	transition-property: filter;
}
.card.entry-card:hover {
	filter: brightness(0.95);
}
